body {
    font-family: Arial, sans-serif;
    background: #e9f3ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.perfil-container {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    color: #0077b6;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #0077b6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005f8c;
}

#mensaje {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.success { color: #2a9d8f; }
.error { color: #d00000; }
